@font-face {
    font-family: 'r';
         src: url("../font/Comfortaa-Bold(1).ttf"); 
}
@font-face{
    font-family: 'm';
         src: url("../font/Comfortaa-Light.ttf"); 
}
@font-face{
    font-family: 'e';
         src: url("../font/Comfortaa-Regular.ttf"); 
}
body{
    font-family: 'e';
  font: 14px/1.4 'e',  "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  body p, body a, body b { 
    font-family: 'e'; 
  }
    // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    // font-family: 'm';
    
    canvas{
        width: 400px !important;
            margin-left: 10%!important;

        height: 200px !important;
    }
    .layout{
            position: fixed;       
        ul{
            box-shadow: 6px 0px 34px 14px #F3F3F3;
            padding-left: 0;
            width: 95%;
            height: 100vh;
            list-style: none;
            .bars_menu{
                background-color: #D9424C;
                cursor: pointer;                
                height: 12.66%;
                a{
                    color: white;
                    text-decoration: none;
                    position: absolute;
                    font-size: 10px;
                    margin: 58px 0 0 25px;
                }
                .bar_menu{
                    background: white;
                    height: 3px;
                    width: 28.5%;
                    margin-top: 29px;                    
                    margin-left: 35%;
                    position: absolute;
                }
                .first{
                    margin-top: 20px;                    
                }
                .last{
                    margin-top: 38px;              
                }
            }
            .online{
                margin-top: 6px;
            }
            .right_line{
                &:hover{
                    &:after{
                        content: "";
                        width: 6px;
                        height: 92%;
                        background: #D9424C;
                        float: right;
                        border-radius: 39px;
                        margin-top: 4%;
                    }
                }
            }
            .two{
                // margin-top: -2px;
                background: white;
                height: 13.66%;
                // width: 50%;
                a{
                    position: absolute;
                    margin: 9px 0 0 33px;
                    .span_one{
                        // background-size: contain;
                        // background-repeat: no-repeat;
                        border-radius: 100%;
                        position: fixed;
                        width: 40px;
                        height: 40px;
                    }
                    .img_first{
                        background:url("../photo/pico.png") 10px -42px;
                        &:hover{
                            background:url("../photo/pico.png") 10px 1px;
                            background-color: #D9424C;
                        }                        
                    }
                    .img_two{
                        background:url("../photo/pico.png") 2px 241px;                        
                        &:hover{
                            background:url("../photo/pico.png") 1px 274px;
                            background-color: #D9424C;
                        }
                    }
                    .img_l{
                        background:url("../photo/pico.png")7px 100px;                        
                        &:hover{
                            background:url("../photo/pico.png") 8px 136px;
                            background-color: #D9424C;
                        }
                    }
                    .img_there{
                        background:url("../photo/pico.png") 1px 172px;                        
                        &:hover{
                            background:url("../photo/pico.png") 1px 205px;
                            background-color: #D9424C;
                        }
                    }
                    .img_last{
                        background:url("../photo/pico.png") 5px 35px;                        
                        &:hover{
                            background:url("../photo/pico.png") 4px 65px;
                            background-color: #D9424C;
                        }
                    }
                    .call{
                        background: url(../photo/pico.png) 1px 516px;
                        border-radius: 0%;
                        margin: 0px 0 0 -13px;
                        width: 60px;
                        height: 60px;
                    }
                    .span_two{
                        font-family: 'e';                    
                        font-weight: 400;
                        box-sizing: border-box;
                        text-transform: capitalize;
                        line-height: 12px;
                        font-size: 9px;
                        margin-top: 48px;
                        position: fixed;
                        width: 52px;
                        color: black;
                        text-align: center;
                        cursor: auto;
                        margin-left: -6px;
                    }
                    .one_last{
                        width: 85px;
                        margin-left: -23px;
                    }
                    .last_l{
                        margin-left: -15px;
                        width: 69px;
                        margin-top: 46px;
                    }
                }
            }
            .lang{
                width: 100px!important;
                margin-left: 3px;
                width: 0;
                margin-top:-8px;
                a{
                    display: inline-block;
                    text-decoration: none;
                    position: relative;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px;
                    margin-left: 3px;
                    line-height: 23px;
                    padding: 0 0 0 5px;
                    color: #8d8d8d;
                    font-size: 10px;
                    &:nth-child(1){
                        border: 1px solid #d9d9d9;                        
                    }
                }
            }
        }
    }
    .content_left{
        //   background: linear-gradient(to  right, #cfd1d1, white); /* Standard syntax */
                margin-left: 8.3%;
                transition: all .3s;
                overflow: hidden;
                  .hov_menu{
                      .sas{
                        width: 10px;
                        height: 10px;
                        background: white;
                        position: absolute;
                        left: -5px;
                        top: 10px;
                        z-index: 100;
                        transform: rotate(48deg);
                        display: none;
                      }
                      box-shadow: -2px 1px 41px 0px rgba(0,0,0,0.75);

                    width: 33%;
                    position: absolute;
                    top: 89px;
                    left: 15px;
                    z-index: 100000000;
                    .bs-example{
                        .panel-group{
                            height: 0;
                            transition: .3s ease;
                            // opacity: 0;
                            overflow: hidden;
                            width: 81%;
                            margin: 0;
                            padding: 0;
                    box-shadow: -2px 1px 41px 0px rgba(0,0,0,0.75);
                            
                            background: white;
                            border-radius: 7px;
                            position: absolute;
                            .panel{
                                border: none;
                                .panel-heading{
                                    padding: 0;
                                    background: transparent;
                                    .panel-title{
                                        margin:5px 2px 10px 0;
                                        a{
                                            font-weight: bold;
                                            text-decoration: none;
                                            margin-left: 9px;
                                            font-family: 'r';
                                            font-size: 11px;
                                            .fa{
                                                float: right;
                                            }
                                        }
                                    }
                                }
                                .panel-collapse{
                                    border: none;
                                    .panel-body{
                                        padding-bottom: 0px;
                                        padding-right: 0px;
                                        padding-left: 0px;                                        
                                        padding-top: 0px;
                                        border: none;
                                        ul{
                                            padding: 0;
                                            li{
                                                list-style: none;
                                                a{
                                                    width: 100%;
                                                    float: left;
                                                    text-align: left;
                                                    font-family: ComfortaaBold, sans-serif;
                                                    color: #555555;
                                                    font-size: 13px;
                                                    border: 1px solid transparent;
                                                    border-radius: 15px;
                                                    padding: 2px 1px 2px 8px;
                                                    text-decoration: none;
                                                    &:hover{
                                                        border: 1px solid #D9424C;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
        .logo{
            width: 160px;
            height: 70px;
            margin: 15px 0 0 50px;
        }
        .int_bank{
                margin-top: 14%;
                font-size: 12px;
                float: right;
                margin-right: 22%;
            a{
                padding: 13px 14px 13px 14px;
                background: #d9424c;
                border-radius: 36px;
                text-decoration: none;
                color: white;
            }
        }
        .box_shodow{
            box-shadow: 0px 54px 56px -43px #CED2D2;            
        }
        .first_con{     
            margin-top: 6%;
            &:first-child{
                margin-top: 12%;
            }
            .cart{
                p{
                    margin: 10px 0 0 50px;
                    color: #aaa;
                    font-size: 12px;
                    font-family: 'e';
                    font-weight: inherit;             
                }
                h3{
                    font-family: 'e';
                    margin: 8px 0 0 50px;
                    font-size: 23px;
                    color: #000;
                }
            }
            .right{
                .cart_img{
                    width: 100px;
                    height: 100px;
                    float: right;
                    margin-right: 22%;                
                    p{
                        margin: 13px 0 0 3px;
                    }
                    .p_c{
                        // opacity: 0;
                        display: none;
                        font-family: 'r';
                        position: absolute;
                        font-size: 15px;
                        margin-left: -10px;
                        margin-top: 12px !important;
                    }
                    .pp_c{
                        margin-left: 4px;
                    }
                    .pc_p{
                        margin-left: -4px;
                    }
                }
            }
        }
        .valyuta{
            margin-top: 8%;
            .text_center{
                text-align: center;
                margin-top: -23px;
                p{
                    display: inline-block;
                    font-size: 8px;
                }
            }
            .currency-btn{
                text-decoration: none;
                background: #d9424c;
                color: #fff;
                width: 73px;
                display: inline-block;
                padding: 6px;
                border-radius: 6px;
                font-size: 12px;
            }
            form{
                margin-bottom: 0;
                margin-top: 2%;
                small{
                    font-size: 9px;
                }
                .input{
                    margin: 0;
                    width: 24%;
                    height: 7%;
                    background-color: #f2f2f2;
                    padding: 5px 15px;
                    overflow: hidden;
                    border-radius: 4px;
                    display: inline-block;
                    padding-right: 15px;
                    margin-left: 5%;
                    font-size: 10px;
                    input{
                        height: 66%;
                        background: transparent;
                        border: none;
                        outline: none;
                        width: 100%;
                        border-radius: 4px;
                        &:hover{
                            background: white;

                        }
                    }
                }
                .sec{
                    margin: 0;
                    width: 13%;
                    display: inline-block;                    
                    height: 7%;
                    background-color: #f2f2f2;
                    padding: 5px 15px;
                    overflow: hidden;
                    border-radius: 4px;
                    select{
                        background: transparent;
                        outline: none;
                        border: 1px solid #f2f2f2;
                        option{
                            background-color: #f2f2f2;
                        }
                    }
                }
                .line{
                    margin: 0;
                    display: inline-block;
                    position: absolute;
                    margin: 20px 7px 0 7px;
                    img{
                        width: 50%;
                    }
                }
                .alis{
                    margin: 0;
                    width: 24%;
                    height: 7%;
                    background-color: #f2f2f2;
                    padding: 5px 15px;
                    overflow: hidden;
                    border-radius: 4px;
                    display: inline-block;
                    margin-left: 6%;
                    p{
                        display: block;
                        font-size: 18px;
                        font-family: 'e';
                        color: #555;
                    }
                }
                    .satis{
                        margin: 0;
                        width: 24%;
                        height: 7%;
                        background-color: #f2f2f2;
                        padding: 5px 15px;
                        overflow: hidden;
                        border-radius: 4px;
                        display: inline-block;
                    p{
                        display: block;
                        font-size: 18px;
                        font-family: 'e';
                        color: #555;
                    }
            }
            .tab{
                display: none;
                .table{
                    width: 90%;
                    margin-left: 5%;
                    tr{
                        font-size: 9px;
                        padding: 0;
                        padding: 0;

                    }
                }
            }
        }
        .mar_top{
            margin-top: 5%;
        }
    }

}
    .right_content{
        .mezenne{
            margin: 0;
            transition: .3s ease-in-out;
                width: 102.8%;
                height: 100%;
                background: rgba(66, 85, 101, 0.9);
                position: absolute;
                z-index: 100;
                // opacity: 0;
                left: 104%;
                display: none;
            .mar_0{
                margin: 0;
                .val_h{
                    float: left;
                    h3{
                        color: white;
                        font-size: 18px;
                        margin-top: 28px;
                    }                    
                }
                 .exit_right{
                    width: 22px;
                    float: right;
                    margin: 30px 5px 0px 0px;
                }
            }
            .date_day{
                    p{
                       font-size: .9em;
                        display: inline-block;
                        color: white;
                        margin-top: 4px;
                        float: left;
                        margin-left: 16px;
                    }
                    span{
                        width: 20px;
                        float: right;
                        height: 2px;
                        background: white;
                        position: absolute;
                        left: 53.3%;
                        top: 10px;
                    }
                .oz{
                    margin-top: 20px;
                    margin-left: 0px;
                    .post{
                            position: relative;
                            right: -10px;
                            width: 28%;
                            display: inline-block;
                        .input-group{
                            width: 95%;
                            .form-control{
                                font-family: 'e';
                                padding-top: 0px;
                                padding-bottom: 0px;
                                height: 22px;
                                width: 95px;
                                padding-left: 3px;
                                padding-right: 0px;
                                // padding-left: 4px;
                                border: none !important;
                            }
                            .input-group-addon{
                                padding-top: 0px;
                                padding-bottom: 0px;
                                position: relative;
                                width: 95%;
                                padding-right: 5px;
                                left: -25px;
                                padding-left: 26px;
                                border: none !important;
                                background: white !important;
                            }
                        }
                    }
                }
                .datepicker-switch{
                    font-size: 13px !important;
                }
            }
            .canvas_boos{
                position: absolute;
                bottom: 10px;
                   top: 68%;
    left: 33%;
    transform: translateX(-26%);
    width: 94%;

            }
            .line_right{
                .inchech{
                    margin: 45px 0 0 0;
                    border-bottom: 2px solid white;
                    input{
                        width: 83%;
                        background: transparent;
                        outline: none;
                        border: none;
                        height: 6%;
                        margin-bottom: 10px;   
                        color:white;                     
                    }
                    select{
                        width: 16%;
                        height: 6%;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        padding: 1px 0 0 17px;
                        margin-bottom: 10px;
                    }
                }
                .form-groups{
                    width: 100%;
                    height: 8%;
                    border-bottom: 1px solid grey;
                    .form-group{
                        display: inline-block;
                        width: 49%;
                        margin-top: 15px;
                        color: white;
                        small{
                            font-size: 8px;
                        }
                        p{
                            font-size: 15px;
                            font-family: 'r';
                        }

                    }
                    .mar_l{
                        padding-left: 0;
                    }
                }
                table{
                    width: 100%;
                    tbody{
                        .fr_1{
                            width: 100%;  
                            background: white;    
                            th{
                                color: black;
                                
                            }                      
                        }
                        tr{
                            color:white;
                            th{
                                border:1px solid #899299;                                
                                padding: 10px;
                                text-align: center;         
                                font-size: .6em;
                                font-family: 'e';                  
                            }
                            .fr{
                                width: 32.9%;
                            }
                            .white_back{
                                width: 33.2%;
                            }
                        }
                        .row_last{
                            th{
                                width: 15.1%;
                            }
                        }
                    }
                }
            }
        }
            padding-left: 0;
            margin-top: -.04%;
            transition: all .3s;                    
        .slide_person{
            background-image: url("../photo/slide-personal.jpg");
            height: 100%;
            background-size: cover;
            background-position: right;
            transition: all .3s;
            .content_life{
                position: absolute;
                top: 38%;
                width: 67%;
                left: 16%;
                height: 58%;
            }
            .small_view_life{
                position: absolute;
                z-index: 1;
                top: 40%;
                margin-left: 31%;
                h2{
                    font-size: 25px;
                    line-height: 1.5;
                    width: 0;
                    color:white;
                }
            }
            .left_center{
                z-index: 1;
                transition: .3s ease;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 6%;
                overflow: hidden;
                padding-left: 57%;
                display: none;
                .acar{
                    ul{
                        list-style: none;
                        li{
                            margin-bottom: 20px;
                            .position_img{
                                display: inline-block;
                                width: 28px;
                                height: 20px;
                                margin: 0px 0px 0 -43px;
                                position: absolute;
                            }
                            .img_center_1{
                                background: url(../photo/La.png) 0px -43px;
                                background-size: cover;                              
                            }
                            .img_center_2{
                                background: url(../photo/La.png) 0px -420px;
                                background-size: cover;
                                height: 29px;                                
                            }
                            .img_center_3{
                                background: url(../photo/La.png) 0px -310px;
                                background-size: cover;
                                height: 29px;
                            }
                            .img_center_4{
                                background: url(../photo/La.png) 0px -354px;
                                background-size: cover;
                                height: 29px;
                            }
                            .img_center_5{
                                background: url(../photo/La.png) 0px -391px;
                                background-size: cover;
                                height: 28px;                                
                            }
                            .collaps_bot{
                                display: inline-block;
                                h3{
                                    color: white;
                                    margin: 0;
                                    font-family: 'm';
                                    font-size: 1.6em;
                                }
                            }
                        }
                        .head_line{
                            margin: 0;
                            h2{
                                width: 0;
                                color: white;
                                font-size: 25px;
                                line-height: 1.5;
                            }
                        }
                        .bs-example{
                            .panel-default{
                                background: transparent;
                                border: none;
                                box-shadow: none;
                                .panel-heading{
                                    .position_img{
                                    display: inline-block;
                                    width: 28px;
                                    height: 20px;
                                    margin: -3px 0px 0 -46px;
                                    position: absolute;
                                }
                                .img_center_1{
                                    background: url(../photo/La.png) 0px -43px;
                                    background-size: cover;                              
                                }
                                .img_center_2{
                                    background: url(../photo/La.png) 0px -420px;
                                    background-size: cover;
                                    height: 29px;                                
                                }
                                .img_center_3{
                                    background: url(../photo/La.png) 0px -310px;
                                    background-size: cover;
                                    height: 29px;
                                }
                                .img_center_4{
                                    background: url(../photo/La.png) 0px -354px;
                                    background-size: cover;
                                    height: 29px;
                                }
                                .img_center_5{
                                    background: url(../photo/La.png) 0px -391px;
                                    background-size: cover;
                                    height: 28px;                                
                                }
                                    background: transparent;
                                    border: none;
                                    box-shadow: none;
                                    h4{
                                        a{
                                            color: white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                                .panel-collapse{
                                    .panel-body{
                                        padding: 0 0 0 15px;
                                        border: none; 
                                        .last_a{
                                            width: 430px;
                                            
                                        }  
                                        ul{
                                            padding: 0;
                                            .qw{
                                                width: 50%;
                                            }
                                            li{
                                                // width: 50%;
                                                margin: 5px 0 5px 0;
                                                a{
                                                    border: 1px solid transparent;                                                    
                                                    padding: 3px 10px 3px 10px;
                                                    border-radius: 40px;
                                                    color: white;
                                                    text-decoration: none;
                                                    font-size: .9em;
                                                    &:hover{
                                                        border: 1px solid white;
                                                    }
                                                }
                                            }
                                            .right_e{
                                                width: 51%;
                                                top: -27px;
                                                position: relative;
                                                float: right;
                                            }                                          
                                        }                                     
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .slide_life{
            background-image: url("../photo/slide-business.jpg");
            height: 100%;
            background-size: cover;
            background-position: right;
            transition: all .3s;     
            .small_view_work{
                z-index: 1;
                position: absolute;
                opacity: 1;
                top: 40%;
                margin-left: 31%;
                h2{
                    width: 0;
                    color:white;
                    font-size: 25px;
                    line-height: 1.5;
                }
            }
            .content_work{
                z-index: 1;
                transition: .3s ease;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 6%;
                overflow: hidden;
                padding-left: 57%;
                display: none;
                // position: relative;
                // opacity: 0;
                    .work_for{
                     ul{
                        list-style: none;
                        li{
                            margin-bottom: 20px;
                            .position_img{
                                display: inline-block;
                                width: 28px;
                                height: 20px;
                                margin: 0px 0px 0 -43px;
                                position: absolute;
                            }
                            .img_center_1{
                                background: url(../photo/La.png) 0px -43px;
                                background-size: cover;                              
                            }
                            .img_center_2{
                                background: url(../photo/La.png) 0px -420px;
                                background-size: cover;
                                height: 29px;                                
                            }
                            .img_center_3{
                                background: url(../photo/La.png) 0px -310px;
                                background-size: cover;
                                height: 29px;
                            }
                            .img_center_4{
                                background: url(../photo/La.png) 0px -354px;
                                background-size: cover;
                                height: 29px;
                            }
                            .img_center_5{
                                background: url(../photo/La.png) 0px -391px;
                                background-size: cover;
                                height: 28px;                                
                            }
                            .collaps_bot{
                                display: inline-block;
                                h3{
                                    color: white;
                                    margin: 0;
                                    font-family: 'm';
                                    font-size: 1.6em;
                                }
                            }
                        }
                        .head_line{
                            margin: 0;
                            h2{
                                width: 0;
                                color: white;
                                font-size: 25px;
                                line-height: 1.5;
                            }
                        }
                        .bs-example{
                            .panel-default{
                                background: transparent;
                                border: none;
                                box-shadow: none;
                                .panel-heading{
                                    .position_img{
                                    display: inline-block;
                                    width: 28px;
                                    height: 20px;
                                    margin: -3px 0px 0 -46px;
                                    position: absolute;
                                }
                                .img_center_1{
                                    background: url(../photo/La.png) 0px -43px;
                                    background-size: cover;                              
                                }
                                .img_center_2{
                                    background: url(../photo/La.png) 0px -420px;
                                    background-size: cover;
                                    height: 29px;                                
                                }
                                .img_center_3{
                                    background: url(../photo/La.png) 0px -310px;
                                    background-size: cover;
                                    height: 29px;
                                }
                                .img_center_4{
                                    background: url(../photo/La.png) 0px -354px;
                                    background-size: cover;
                                    height: 29px;
                                }
                                .img_center_5{
                                    background: url(../photo/La.png) 0px -391px;
                                    background-size: cover;
                                    height: 28px;                                
                                }
                                    background: transparent;
                                    border: none;
                                    box-shadow: none;
                                    h4{
                                        a{
                                            color: white;
                                            text-decoration: none;
                                        }
                                    }
                                }
                                .panel-collapse{
                                    .panel-body{
                                        padding: 0 0 0 15px;
                                        border: none; 
                                        .last_a{
                                            width: 430px;
                                            
                                        }  
                                        ul{
                                            padding: 0;
                                            .qw{
                                                width: 50%;
                                            }
                                            li{
                                                // width: 50%;
                                                margin: 5px 0 5px 0;
                                                a{
                                                    border: 1px solid transparent;                                                    
                                                    padding: 3px 10px 3px 10px;
                                                    border-radius: 40px;
                                                    color: white;
                                                    text-decoration: none;
                                                    font-size: .9em;
                                                    &:hover{
                                                        border: 1px solid white;
                                                    }
                                                }
                                            }
                                            .birja{
                                                height: 23px;
                                                a{
                                                    position: absolute;
                                                }
                                            }
                                            .right_e{
                                                width: 51%;
                                                top: -27px;
                                                position: relative;
                                                float: right;
                                            }
                                        }                                     
                                    }
                                }
                            }
                        }
                        
                    }
                    }
                }
            }       
        }
        #all_bank{
            transition: .3s ease;
            width: 100%;
            background: white;
            margin-top: -51%;
            position: fixed;
            opacity:0;
            z-index: -1;
            .header{
                width: 100%;
                height: 90px;
                background: #d9424c;
                .home{
                    cursor: pointer;
                    width: 4.2%;
                    padding: 28px 0 0 26px;
                    margin-left: 6px;
                    display: inline-block;
                }
                .write{
                    display: inline-block;
                    width: 90%;
                    text-align: center;
                    h2{
                        color:white;
                        font-size: 22px;
                        font-family: 'e';
                    }
                }
                .exit{
                    cursor: pointer;
                    width: 4.2%;
                    padding: 28px 26px 0 0 ;
                    margin-left: 6px;
                    display: inline-block;
                }
            }
            .center_content{
                width: 55%;
                height: 100%;
                // background: red;
                margin: 0 auto;
                .left{
                    float: left;
                    width: 32.8%;
                    margin-top: 30px;
                    height: 100%;
                    // background: rebeccapurple;
                    display: inline-block;
                    h4{
                        color:#d9424c;
                        margin: 0;  
                        font-size: 16px;
                        font-family: 'r';                      
                    } 
                    h5{
                        color:black;
                        font-size: 13px;
                        font-family: 'r';
                        line-height: 40px;
                        margin: 0;
                    }
                    ul{
                        padding: 0;
                        list-style: none;
                        li{
                            margin-bottom: 2px;
                            margin-left: -8px;
                            font-size: 13px;
                            list-style-type: none;
                            line-height: 20px;
                            a{
                                text-align-last:left;
                                text-decoration: none;
                                color:#555;
                                font-size: 12px;
                                padding: 0px 8px 0px 8px;
                                border-radius: 9px;
                                display: inline-block;                                
                                &:hover{
                                    background: #d9424c;
                                    color: white;
                                }
                            }
                            .bt{
                                padding: 2px 10px;
                                display: inline-block;
                                border-radius: 30px;
                            }
                        }
                    }
                }
                .center{
                    margin-left: 6.5px;
                    margin-top: 30px;                    
                    width: 32.8%;
                    height: 100%;
                    // background: rebeccapurple;
                    display: inline-block;
                    h4{
                        color:#d9424c;
                        margin: 0;    
                        font-size: 16px;
                        font-family: 'r';                    
                    } 
                    h5{
                        color:black;
                        font-size: 13px;
                        font-family: 'r';
                        line-height: 40px;
                        margin: 0;
                    }
                    ul{
                        padding: 0;
                        list-style: none;
                        li{
                            margin-bottom: 2px;
                            margin-left: -8px;
                            font-size: 13px;
                            list-style-type: none;
                            line-height: 20px;
                            a{
                                text-align-last:left;
                                text-decoration: none;
                                color:#555;
                                font-size: 12px;
                                padding: 0px 8px 0px 8px;
                                border-radius: 9px;
                                display: inline-block;                                
                                &:hover{
                                    background: #d9424c;
                                    color: white;
                                }
                            }
                            .bt{
                                padding: 2px 10px;
                                display: inline-block;
                                border-radius: 30px;
                            }
                        }
                    }
                }
                .right_con{
                    float: right;
                    margin-top: 30px;                    
                    width: 32.8%;
                    height: 100%;
                    // background: rebeccapurple;
                    display: inline-block;
                    h4{
                        color:#d9424c;
                        margin: 0;     
                        font-size: 16px;
                        font-family: 'r';                   
                    } 
                    h5{
                        color:black;
                        font-size: 13px;
                        font-family: 'r';
                        line-height: 40px;
                        margin: 0;
                    }
                    ul{
                        padding: 0;
                        list-style: none;
                        li{
                            margin-bottom: 2px;
                            margin-left: -8px;
                            font-size: 13px;
                            list-style-type: none;
                            line-height: 20px;
                            a{
                                text-align-last:left;
                                text-decoration: none;
                                color:#555;
                                font-size: 12px;
                                padding: 0px 8px 0px 8px;
                                border-radius: 9px;
                                display: inline-block;                                
                                &:hover{
                                    background: #d9424c;
                                    color: white;
                                }
                            }
                            .bt{
                                padding: 2px 10px;
                                display: inline-block;
                                border-radius: 30px;
                            }
                        }
                    }
                    .end{
                        li{
                            margin-bottom: 15px;
                            a{
                                background: white;
                            }
                        }
                    }
                }
            }
            // .datepicker{
            //     .datepicker-days{
            //         .table-condensed{
            //             thead{
            //                 font-size: 10px!important;
            //             }
            //             tbody{
            //                 font-size: 10px!important;
            //             }
            //         }
            //     }
            // }
        }
    }

.sa{
    width: 100%;
    height: 100%;
    background: #4F7482;
    opacity: .5;
    position: absolute;
}
.par-mar-0{
    margin: 0;
    padding: 0;
}
#mat_bot{
       margin-bottom: 5%;
}
.datepicker-switch{
    font-size: 11px!important;
}
.prev, .next{
    font-size: 12px!important;
}
.datepicker{
    width: 177px!important;
}
.day{
    font-size: 10px;
    width: 15px!important;
    height: 15px!important;
    padding: 0!important;
}
.dow{
    font-size: 10px;
}
.q{
    background: red!important;
}
// .pf,.pg,.pb{
//     width: 100%;
//     height: 100%;
//     position:absolute;
// }
.rem{
    display: block;
}

